# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\scarm\Documents\IdeaProjects\pa2-discrete\.idea/dataSources/
/dataSources.local.xml
