# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\scarm\Documents\IdeaProjects\discrete-math-pa2-javafx\.idea/dataSources/
/dataSources.local.xml
